if errors.authentication
  p.text-warning= errors.authentication
.form-group
  label.form-label Nickname
  input(name='nickname', type='text', placeholder='Enter the nickname' value=form.nickname).form-control
  if errors.nickname
    span.text-warning= errors.nickname
.form-group
  label.form-label Password
  input(name='password', type='password' placeholder='Enter the password').form-control
  if errors.password
    span.text-warning= errors.password
button(type='submit').btn-primary.mt-4 Confirm
