doctype html
html(lang='eng')
  head
    title= title
    link(rel='stylesheet' href='../../css/bootstrap.min.css')
    meta(property='og:title' content='Express Blog')
    meta(property='og:description' content='Sample blog on Express.js by PavelDeuce')
    meta(property='og:type' content='article')
    meta(property='og:image' content='https://deuce-express-blog.herokuapp.com/favicon.ico')
    meta(property='og:url' content='https://deuce-express-blog.herokuapp.com/')
  body
    nav.navbar.bg-light.p-3
      .container
        a.navbar-brand(href='/') Blog
        if currentUser.isGuest()
          ul.nav
            li.nav-item
              a.nav-link(href="/session/new") Sign in
            li.nav-item
              a.nav-link(href="/users/new") Sign up
        else
          .d-flex
            ul.nav
              li.nav-item
                a.nav-link(href="/my/posts") My Posts
            form(action='/session?_method=DELETE' method='post')
              button.btn.btn-secondary(type='submit') Sign out
    .container
      .mt-3
        while message = flash.shift()
          div(class='alert alert-' + message.type)
            = message.message
    .container.mt-3
      block content
