doctype html
html(lang='eng')
  head
    title= title
    link(rel='stylesheet' href='../css/bootstrap.min.css')
  body
    nav.navbar.bg-light.p-3
      div.container
        a.navbar-brand(href="/") Blog
        if currentUser.isGuest()
          ul.nav
            li.nav-item
              a.nav-link(href="/session/new") Sign in
            li.nav-item
              a.nav-link(href="/users/new") Sign up
        else
          div.d-flex
            ul.nav
              li.nav-item
                a.nav-link(href="/my/posts/new") Write Post
              li.nav-item
                a.nav-link(href="/my/posts") My Posts
            form(action='/session?_method=DELETE' method='post')
              button.btn.btn-secondary(type='submit') Sign out
    block content
