extends ../layout

block content
  form(action='/users' method='post').col-8.m-auto.mt-5
    .d-flex.flex-column.align-content-center.justify-content-center.w-50.m-auto
      h3.text-center Registration form
      .form-group
        label.form-label Nickname
        input(name='nickname', type='tetx', placeholder='Enter the nickname' value=form.nickname).form-control
        if errors.nickname
          span.text-warning= errors.nickname
      .form-group
        label.form-label Password
        input(name='password', type='password' placeholder='Enter the password').form-control
        if errors.password
          span.text-warning= errors.password
      button(type='submit').btn-primary.mt-4 Sign Up
