extends ../layout.pug

block content
  form(action='/users' method='post').col-8.m-auto.mt-5
    .d-flex.flex-column.align-content-center.justify-content-center.w-50.m-auto
      h3.text-center Registration
      include ../components/auth-form.pug
