extends ../layout.pug

block content
  .d-flex.justify-content-between.align-items-center
    h3= post.title
    span= post.createdDate.toLocaleDateString()
  p= post.body
  div.d-flex.justify-content-end= post.user
